.user-info {
  position: relative;
  width: 420px;
  height: 72px;
  background-color: #f3f3f3;
  border-radius: 8px;
  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__item {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    &-ph {
      font-size: 11px;
      color: #a3a3a3;
    }
    &-data {
      margin-left: 7px;
    }
  }
}
.user-list-wrapper {
  margin-left: 30px;
  margin-top: 12px;
}

.userlist-logo {
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 5px;
  &_default {
    @extend .userlist-logo;
    margin-left: 0px;
  }
  &-bottom {
    font-size: 12px;
    text-align: end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
